@page "/"


<div class="my-row1" style="background-image:url(https://www.laminaar.com/wp-content/uploads/2019/11/products_banner_compressed.jpg)">
   
</div>

<div class="lai-rowSubsystems" style="background-color:whitesmoke">

    <div class="row">

    

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselIndicators" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">

                        <div class="carousel-caption d-block text-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5 style="color:black">
                                        Extension of the ARMS® Suite on the Tablet and Mobile environment to empower the workforce with mobility and connectivity to the ARMS® V2.5 Suite. A wide spectrum of applications designed for latest generation Tablets and Smart Phone devices (iOS, Android & Windows), under two categories: ARMS® on the TAB® (AOT) and ARMS® on Mobile® (AOM).
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <img alt="" title="" src="https://www.laminaar.com/wp-content/uploads/2019/10/INFOPROMPT.png">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item">
                        <div class="carousel-caption d-block text-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5 style="color:black">
                                        Extension of the ARMS® Suite on the Tablet and Mobile environment to empower the workforce with mobility and connectivity to the ARMS® V2.5 Suite. A wide spectrum of applications designed for latest generation Tablets and Smart Phone devices (iOS, Android & Windows), under two categories: ARMS® on the TAB® (AOT) and ARMS® on Mobile® (AOM).
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <img alt="" title="" src="https://www.laminaar.com/wp-content/uploads/2019/10/AOT.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-caption d-block text-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5 style="color:black">
                                        Extension of the ARMS® Suite on the Tablet and Mobile environment to empower the workforce with mobility and connectivity to the ARMS® V2.5 Suite. A wide spectrum of applications designed for latest generation Tablets and Smart Phone devices (iOS, Android & Windows), under two categories: ARMS® on the TAB® (AOT) and ARMS® on Mobile® (AOM).
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <img alt="" title="" src="https://www.laminaar.com/wp-content/uploads/2019/10/INFOPROMPT.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-caption d-block text-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5 style="color:black">Extension of the ARMS® Suite on the Tablet and Mobile environment to empower the workforce with mobility and connectivity to the ARMS® V2.5 Suite. A wide spectrum of applications designed for latest generation Tablets and Smart Phone devices (iOS, Android & Windows), under two categories: ARMS® on the TAB® (AOT) and ARMS® on Mobile® (AOM).</h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <img alt="" title="" src="https://www.laminaar.com/wp-content/uploads/2019/10/ARMSv25.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous slide</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next slide</span>

                </a>
            </div>
        </div>

    </div>

</div>

<div class="lai-rowClients" style="background-color:mintcream">

    <marquee behavior="scroll" direction="left" loop="infinite">
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/AirAsia.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/AirIndiaExpress.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/AirOdisha.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/CASS.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/DeccanCharter.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/QatariAmiri.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>
        <a href="http://www.shopclues.com/fashion/prettysecrets-special.html"><img src="/image/FitsAir.png" alt="prettysecrests.jpg" title="" style="display: inline; vertical-align: top; border:1px solid #F3AEA5;  border-left:2px solid #F3AEA5; border-right:2px solid #F3AEA5;"></a>


    </marquee>

</div>

<style>
    .my-row1 {
        height: 50vh;
    }

    .lai-rowSubsystems {
        height: 30vh;
    }

    .lai-rowClients {
        height: 10vh;
    }

    @@media (min-width: 768px) {

        .main > div {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
  
}

    .bg-chrome {
   background: blue;
 }
 
 .carousel-item{
   height:300px;
 }
</style>

