@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row px-4">
            <a href="/image/LaminaarLogo.png"  class="pull-left"><img src="/image/LaminaarLogo.png" alt="prettysecrests.jpg" title="" style="display: inline;"></a>
        </div>
        <div>
            @Body
        </div>
    </div>


